#root,html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
  .App{
    background: url('./images/d3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

  
  }

  .card{
    background-color: whitesmoke;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 10px 10px;

  }

  .heading{
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Spartan', sans-serif;

  }

  .buton{
   margin-top: -100px;
  }

  
  @keyframes rotate {
  
    0% {
      transform: rotate(0deg) translate(0, 0 , 0);
    }
    
    25% {
      transform: rotate(3deg) translate(0, 0 , 0);
    }

    50% {
      transform: rotate(-3deg) translate(0, 0, 0)
    }
    75% {
      transform: rotate(1deg) translate(0, 0, 0)
    }

    100% {
      transform: rotate(0deg) translate(0, 0, 0)
    }
  }


   
  @keyframes storm {
  
    0% {
      transform: rotate(4px) translate(0, 0 , 0);
    }
    
    25% {
      transform: rotate(4px) translate(0, 0 , 0);
    }

    50% {
      transform: translate(-3px, 0 , 0) translate(0, 0, 0)
    }
    75% {
      transform: translate(2px, 0 , 0) translate(0, 0, 0)
    }

    100% {
      transform: translate(0, 0 , 0) translate(0, 0, 0)
    }
  }

  @media only screen and (max-width: 600px){
    .card{
      width: 80%;
      height: 30%;
     
    }
  }